<div class="container mt-5">

  <h2 class="text-center mb-4">🔍 Buscar Usuario en DummyJSON</h2>

  <!-- Sección 1: Barra de búsqueda -->
  <div class="input-group mb-4">
    <input type="text" class="form-control" [(ngModel)]="txtUser" placeholder="Escribe el username...">
    <button class="btn btn-primary" (click)="searchUser()">Buscar</button>
  </div>

  <!-- Mensaje si no existe el usuario -->
  <div *ngIf="!usuario && postsConComentarios.length === 0" class="alert alert-info">
    Ingresa un username y presiona buscar.
  </div>

  <!-- Sección 2: Datos del usuario -->
  <app-user-info *ngIf="usuario" [usuario]="usuario"></app-user-info>

  <!-- Sección 3: Posts + comentarios -->
  <app-user-posts
    *ngIf="usuario && postsConComentarios.length > 0"
    [postsConComentarios]="postsConComentarios">
  </app-user-posts>

</div>
