<div class="container mt-3">
  <input class="form-control mb-2" [(ngModel)]="txtUser" placeholder="Buscar username">
  <button class="btn btn-primary mb-4" (click)="searchUser()">Buscar</button>

  <div *ngIf="usuario">
    <h3>{{ usuario.firstName }} {{ usuario.lastName }}</h3>
    <p>Email: {{ usuario.email }}</p>
    <img [src]="usuario.image" width="100" class="rounded" />
  </div>

  <div *ngFor="let item of postsConComentarios" class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">{{ item.post.title }}</h5>
      <p class="card-text">{{ item.post.body }}</p>
      <p>💬 Reacciones: {{ item.post.reactions }}</p>
      <h6>Comentarios:</h6>
      <ul>
        <li *ngFor="let c of item.comments">
          <strong>{{ c.user.username }}</strong>: {{ c.body }}
        </li>
      </ul>
    </div>
  </div>
</div>
